@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #050505;
    color: #F0F0F0;
    background-image: radial-gradient(#333 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

/* Custom scrollbar for a more technical look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 1px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: #F0F0F0;
}
